{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <div class="container mt-5">
        <div class="col-md-12">
            <h4>{% trans 'Resend an activation code' %}</h4><br><hr>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-sm-12">
                <form method="post">

                    {% csrf_token %}
                    {% bootstrap_form form %}
            
                    <button class="btn btn-secondary">{% trans 'Next' %}</button>
            
                </form>
            
                <hr>
            
                <ul>
                    <li>
                        <a href="{% url 'accounts:log_in' %}">{% trans 'Log in' %}</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    </div>

{% endblock %}
